<div id="chart">
    <div class="chartheader">
        <div id="tooltip" class="info" style="left: 320px; top: 320px;">
            <span id="date" style="color: black; display: block;"></span>
            <span id="users" style="color: red; display: block;"></span>
            <span id="google" style="color: blue; display: block;"></span>
            <span id="temp" style="color: rgb(206, 168, 0); display: block;"></span>
        </div>
        <div class="legend_box">
            <div class="legend">
                <div class="square color2"></div>
                <span class="text">google</span>
            </div>
            <div class="legend">
                <div class="square color1"></div>
                <span class="text">Temp</span>
            </div>
            <div class="legend">
                <div class="square color3"></div>
                <span class="text">Users</span>
            </div>
        </div>
    </div>
</div>