<header>
    <div class="header-box">
        <h3 class="header-box-title">DASHBOARD</h3>
    </div>
</header>

<main>

    <div class="charts-box">
        <div class="charts-box-sub box-2" routerLink="../stacked">
            <h4 class="sub_box_title"> Stacked Bar Chart</h4>
        </div>
        <div class="charts-box-sub box-3" routerLink="../pie">
            <h4 class="sub_box_title"> Pie Chart</h4>
        </div>
        <div class="charts-box-sub box-4" routerLink="../line">
            <h4 class="sub_box_title"> Multi Line Chart</h4>
        </div>
        <div class="charts-box-sub box-1" routerLink="../bars">
            <h4 class="sub_box_title"> Variable Width Bar Chart</h4>
        </div>
    </div>

</main>